* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #1b2b5f;
  line-height: 1.4;
  padding-bottom: 100px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  padding-top: 4rem;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu-item {
  margin-left: 5rem;
}
.header__menu-item:last-child {
  margin-left: 7rem;
}
.header__menu-link {
  font-size: 1.6rem;
  color: #1b2b5f;
  font-weight: 500;
  transition: color 0.1s linear, border 0.1s linear;
}
.header__menu-link:hover {
  color: #FFC87A;
}

.logo {
  font-size: 3rem;
  font-weight: 600;
  color: #1b2b5f;
  text-decoration: none;
}
.logo__text {
  color: #FFC87A;
}

.banner {
  padding: 15rem 0;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}
.banner__heading {
  font-weight: 700;
  font-size: 6rem;
  margin-bottom: 2rem;
}
.banner__desc {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
.banner__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__button .button {
  margin: 0 1rem;
}

.button {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  color: #1b2b5f;
  padding: 1.2rem 3rem;
  display: inline-block;
  border: none;
  font-weight: 500;
  background-color: transparent;
}
.button--border {
  border: 1px solid currentColor;
}
.button--rounded {
  border-radius: 5rem;
}
.button--primary {
  background-color: #FFC87A;
}
.button--primary.has-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.category__list {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.category__item {
  width: calc(25% - 22.5px);
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}
.category__img {
  border-radius: inherit;
  width: 100%;
  height: 23rem;
  object-fit: cover;
  margin-bottom: 4rem;
}
.category__name {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category__detail {
  font-size: 1.4rem;
  color: #999;
  display: flex;
  align-items: center;
  margin-top: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category__detail i {
  margin-left: 1.5rem;
  font-size: 1rem;
}

.feature {
  padding-top: 18rem;
}
.feature__item {
  display: flex;
  align-items: center;
  margin-bottom: 15rem;
}
.feature__item:nth-child(odd) .feature__info {
  padding-left: 10rem;
}
.feature__item:nth-child(even) {
  flex-direction: row-reverse;
}
.feature__item:nth-child(even) .feature__info {
  padding-right: 10rem;
}
.feature__img, .feature__info {
  width: 50%;
}
.feature__title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.feature__desc {
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 4rem;
  line-height: 1.6;
}
.feature-intro__item {
  font-weight: 600;
  margin-bottom: 3rem;
  font-size: 1.8rem;
  text-decoration: underline;
}
.feature-intro__item--circle {
  text-decoration: none;
  position: relative;
  padding-left: 3.5rem;
}
.feature-intro__item--circle::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 2rem;
  height: 2rem;
  background-color: red;
  border-radius: 50%;
}
.feature-intro__item--circle:nth-child(2)::before {
  background-color: orange;
}
.feature-intro__item--circle:nth-child(3)::before {
  background-color: blue;
}
.feature-best__icon {
  width: 5rem;
  height: 5rem;
  border-radius: 4px;
  font-size: 2rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  color: orange;
  position: relative;
  z-index: 1;
}
.feature-best__icon::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.feature-best__title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.feature-best__desc {
  font-size: 1.2rem;
}
.feature-best__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature-best__item {
  width: calc(50% - 3rem);
  margin-bottom: 5rem;
}

.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-clamp--2 {
  -webkit-line-clamp: 2;
}

.partner {
  margin-bottom: 19rem;
}
.partner__container {
  max-width: 83rem;
  text-align: center;
}
.partner__title {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 7rem;
  border-bottom: 2px solid currentColor;
  margin-bottom: 7rem;
}
.partner__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.connect {
  text-align: center;
  margin-bottom: 17rem;
}
.connect__title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
}
.connect__notice {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 6rem;
}
.connect__notice span {
  color: #FFC87A;
}
.connect__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.connect__item {
  width: calc(25% - 22.5px);
  padding: 0 2rem;
}

.subscribe {
  margin-bottom: 5rem;
  padding: 0 0 8rem 0;
  border-bottom: 2px solid;
}
.subscribe__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.subscribe__title, .subscribe__info {
  width: 50%;
}
.subscribe__title {
  font-size: 2rem;
  font-weight: 600;
  max-width: 43rem;
}
.subscribe__form {
  background-color: #f2f1f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  margin-bottom: 2.5rem;
}
.subscribe__input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.6rem;
  font-family: "poppins";
  flex-grow: 1;
}
.subscribe__button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "poppins";
  color: #1b2b5f;
  font-weight: 500;
  font-size: 1.6rem;
  padding-left: 2rem;
}
.subscribe__social i {
  margin-left: 1.8rem;
  font-size: 2rem;
  color: #1b2b5f;
}

.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__item {
  width: 25%;
}
.footer__link {
  color: #1b2b5f;
  font-size: 1.4rem;
  display: block;
  margin-bottom: 3rem;
  width: fit-content;
}

@media screen and (max-width: 1023px) {
  .banner {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .banner__heading {
    font-size: 4rem;
  }
  .banner__desc {
    font-size: 1.6rem;
  }
  .banner__button > button {
    font-size: 1.4rem;
  }
  .category__item {
    width: calc(50% - 22.5px);
    margin-bottom: 4rem;
  }
  .feature {
    padding-top: 10rem;
  }
  .feature__item {
    flex-direction: column;
    margin-bottom: 8rem;
  }
  .feature__item:nth-child(even) {
    flex-direction: column;
  }
  .feature__item:nth-child(even) .feature__info {
    padding: 0;
  }
  .feature__item:nth-child(odd) .feature__info {
    padding: 0;
  }
  .feature__img, .feature__info {
    width: 100%;
  }
  .feature__img img {
    margin: 0 auto 5rem;
  }
  .feature .partner__title {
    padding-bottom: 4rem;
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
  .partner {
    margin-bottom: 5rem;
  }
  .partner__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .partner__item {
    width: 50%;
    margin-bottom: 2rem;
  }
  .partner__item img {
    margin: 0 auto;
  }
  .connect {
    margin-bottom: 5rem;
  }
  .connect__list {
    flex-wrap: wrap;
  }
  .connect__item {
    width: calc(50% - 1rem);
    margin-bottom: 2rem;
  }
  .subscribe__container {
    flex-direction: column;
  }
  .subscribe__title {
    width: 100%;
    margin-bottom: 2rem;
  }
  .subscribe__info {
    width: 100%;
  }
  .footer__container {
    flex-wrap: wrap;
  }
  .footer__logo {
    width: 100%;
    margin-bottom: 3rem;
    padding-left: 1.5rem;
  }
  .footer__link {
    display: flex;
  }
  .footer__item {
    width: 50%;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
  }
}
@media screen and (max-width: 479px) {
  .banner__button > button {
    font-size: 1.2rem;
  }
  .category__item {
    width: 100%;
    margin-bottom: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
